 .u-section-1 {
  min-height: 681px;
}

.u-section-1 .u-image-1 {
  width: 666px;
  left: auto;
  right: 0;
}

.u-section-1 .u-image-2 {
  width: 511px;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 23px calc(((100% - 1140px) / 2) + 727px) 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 169px calc(((100% - 1140px) / 2) + 318px) 0 calc(((100% - 1140px) / 2) + 441px);
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 15px calc(((100% - 1140px) / 2) + 318px) 0 calc(((100% - 1140px) / 2) + 441px);
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 53px auto 60px calc(((100% - 1140px) / 2) + 441px);
  padding: 19px 34px 20px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 538px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 119px;
    margin-right: calc(((100% - 940px) / 2) + 175px);
    margin-left: calc(((100% - 940px) / 2) + 384px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 35px;
    margin-right: calc(((100% - 940px) / 2) + 175px);
    margin-left: calc(((100% - 940px) / 2) + 384px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 56px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2) + 291px);
    margin-left: calc(((100% - 720px) / 2) + 27px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 111px;
    margin-right: calc(((100% - 720px) / 2) + -34px);
    margin-left: calc(((100% - 720px) / 2) + 373px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 23px;
    margin-right: calc(((100% - 720px) / 2) + -34px);
    margin-left: calc(((100% - 720px) / 2) + 373px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
    margin-right: calc(((100% - 720px) / 2) + 168px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 76px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 calc(((100% - 540px) / 2) + -76px);
  }

  .u-section-1 .u-image-2 {
    height: 365px;
    margin-top: 35px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-text-1 {
    width: 402px;
    margin-top: -465px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
    margin-right: calc(((100% - 540px) / 2) + 103px);
    margin-left: calc(((100% - 540px) / 2) + 146px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 325px;
    margin-right: calc(((100% - 540px) / 2) + 19px);
    margin-left: calc(((100% - 540px) / 2) + 43px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 565px;
  }

  .u-section-1 .u-image-1 {
    width: 605px;
    height: 71px;
    margin-left: calc(((100% - 340px) / 2) + -215px);
  }

  .u-section-1 .u-image-2 {
    height: 321px;
    width: 415px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -373px;
    margin-right: calc(((100% - 340px) / 2) + -35px);
    margin-left: calc(((100% - 340px) / 2) + 35px);
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: calc(((100% - 340px) / 2) + 86px);
    margin-left: calc(((100% - 340px) / 2) + 68px);
  }

  .u-section-1 .u-text-3 {
    width: 325px;
    margin-top: 271px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-bottom: 19px;
    margin-left: calc(((100% - 340px) / 2) + 83px);
    padding: 20px 45px 21px 44px;
  }
}